
@{
    ViewBag.Title = "MyAccount";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_AccountLayout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    }

}

<div style="margin-top:10px">
    <a href="#" style="font-size:18px;color:#191616">Siparişlerim</a>
    <p style="font-size:14px;color:#555555">Vermiş oldugunuz siparişlerinizin durumlarını burdan inceleyebilirsiniz.</p>
</div>
<div style="margin-top:10px">
    <a href="#" style="font-size:18px;color:#191616">Kişisel Bilgiler</a>
    <p style="font-size:14px;color:#555555">Kişisel Bilgilerinizi buradan istediginiz gibi gğncelleyebilrisiniz</p>
</div>
<div style="margin-top:10px">
    <a href="#" style="font-size:18px;color:#191616">Adres Defterim</a>
    <p style="font-size:14px;color:#555555">Adres ekleyebilir mevcut adresleriniz guncelleyebilrisiniz.</p>
</div>



