@model ECommerce.Entity.Product

@{
    /**/

    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <ul>
            @foreach (var img in Model.Photos)
            {
                <li>
                    <img src="~/Upload/@img.PhotoName" width="45" height="45" />
                </li>
                if (img.IsChecked == true)
                {
                    <ul>
                        <li>
                            <img src="~/Upload/@img.PhotoName" alt="Alternate Text" width="200" height="200" />
                        </li>
                    </ul>
                        
                   
                }
            }
        </ul>
    </div>
}