@using ECommerce.Entity
@model IEnumerable<Product>

@{
    ViewBag.Title = "ListAll";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>List All Product</h2>

@Html.Partial("~/Views/Shared/_ProductList.cshtml")