@model ECommerce.Entity.Product

<h2 class="text-center">Edit Product</h2>

<fieldset>
    <legend>Photo Edit</legend>
    @using (Html.BeginForm("DeletePhoto", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m=>Model.ProductID)
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Photos:", new { @class = "control-text col-md-2" })
                <div class=" col-md-10 ">

                    @foreach (var item in Model.Photos.ToList())
                    {
                        <div class=" float-left" style="margin-left:25px">
                            <img src="~/Upload/@item.PhotoName" class="checkbox" width="200" height="200" />
                            <input type="checkbox" name="PhotoName" value="@item.PhotoName" class="m-auto" />
                        </div>
                    }
                </div>
            </div>
            <input type="submit" value="Seçilenleri Kaldır" class="btn btn-default col-md-offset-5" />
        </div>

    }

    @using (Html.BeginForm("EditPhoto", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m=>Model.ProductID)
        <div class="input-group mt-5 col-md-10 col-md-offset-3 ">
            <input type="file" name="photoPath" id="photoPath" multiple class="btn btn-default col-md-3 " style="margin:0px 10px;" />
            <input type="submit" value="Kaydet" class="btn btn-default col-md-4" />
        </div>
    }

</fieldset>


