
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form action="~/Admin/Category/CatAdd" method="post" style="margin-top:20px;" >
        <div class="panel panel-red">
            <div class="panel-heading">
                <h4 class="text-center text-uppercase">Category Add</h4>
            </div>
            <div class="panel-body">
                <div class="row" style="padding:7px;">
                    <div class="form-group">
                        <label class="form-control">Category Name:</label>
                        <input name="CategoryName" type="text" class="form-control"     />
                    </div>
                    <div class="form-group">
                        <label class="form-control">Description:</label>
                        <textarea name="Description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row col-md-offset-5" >
                    <button class="btn btn-success" onclick="myFunction()">Save Category</button>
                    <input type="submit" class=" btn btn-warning" value="Cancel" />
                </div>           
            </div>
            <div class="panel-footer text-center">
                Soft-Fare &copy; @DateTime.Now.Year Tüm Haklari Saklidir.
            </div>
        </div>
</form>

