@using ECommerce.Entity
@model IEnumerable<OrderDetail>

@{
    ViewBag.Title = "DetailList";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    }
}

<h2>Detail List</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.Product.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td><a href="~/Order/Delete/@item.ProductID" class="btn btn-warning">Delete</a></td>
            </tr>
        }

        <tr>

            <td colspan="4" style="text-align:right">
                @{
                    Order o = (Order)Session["Order"];
                    <span>Total Price:@String.Format("{0:0,0.00}", o.TotalPrice.Value) ₺</span>
                }
            </td>
        </tr>
    </tbody>
</table>

@using (Html.BeginForm("Pay", "Payment",FormMethod.Get))
{
    <input type="submit" class="btn btn-success" value="Contunie To Pay" />
}

