@using ECommerce.Entity
@using ECommerce.Repository

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Electronix Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="~/Content/electronix/style.css" />
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="iecss.css" />
    <![endif]-->
    <script type="text/javascript" src="~/Content/electronix/js/boxOver.js"></script>
</head>
<body>
    <div id="main_container">
        <div class="top_bar">
           
        </div>
        <div id="header">
            <div id="logo"> <a href="~/Home/Index"><img src="~/Content/electronix/images/logo.png" alt="" border="0" width="237" height="140" /></a> </div>
            @*<div class="oferte_content">
                <div class="top_divider"><img src="images/header_divider.png" alt="" width="1" height="164" /></div>
                <div class="oferta">
                    <div class="oferta_content">
                        <img src="images/laptop.png" width="94" height="92" alt="" border="0" class="oferta_img" />
                        <div class="oferta_details">
                            <div class="oferta_title">Samsung GX 2004 LM</div>
                            <div class="oferta_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </div>
                            <a href="details.html" class="details">details</a>
                        </div>
                    </div>
                    <div class="oferta_pagination"> <span class="current">1</span> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> </div>
                </div>
                <div class="top_divider"><img src="images/header_divider.png" alt="" width="1" height="164" /></div>
            </div>*@
            <!-- end of oferte_content-->
        </div>
        <div id="main_content">
            <div id="menu_tab">
                <div class="left_menu_corner"></div>
                <ul class="menu">
                    <li><a href="~/Home/Index" class="nav1"> Home</a></li>
                    <li class="divider"></li>
                    <li><a href="~/Home/ListAll" class="nav2">Products</a></li>
                    <li class="divider"></li>
                    <li><a href="~/Account/MyAccount" class="nav3">My account</a></li>
                    <li class="divider"></li>
                    <li class="pull-right"><a href="~/Account/LogOut" class="nav4">Log Out</a></li>
                    <li class="divider"></li>
                    <li class="pull-right">
                        Welcome
                        @{
                            if (Session["CurrentUser"] != null)
                            {
                                Member m = new Member();
                                m = (Member)Session["CurrentUser"];
                                <span>@m.FirstName.ToUpper() @m.LastName.ToUpper() </span>
                            }

                        }
                    </li>
                    <li class="divider"></li>
                </ul>
                <div class="right_menu_corner"></div>
            </div>

            <!--left menu-->
            <div class="list-group col-md-2" style="margin-top:25px;font-size:14px">
                <a href="~/Account/MyAccount" class="list-group-item ">
                    Hesabım
                </a>
                <a href="~/Account/MyOrders" class="list-group-item">Siparişlerim</a>
                <a href="~/Account/MyInfo" class="list-group-item">Kişisel Bilgilerim</a>
                <a href="~/Account/MyAddress" class="list-group-item">Adres Defterim</a>
            </div>


            <div class="center_content">
                @RenderBody()
            </div>

        </div>
        <!-- end of main content -->
        <div class="footer" style="padding-bottom:10px">
            <div class="left_footer"> <img src="~/Content/electronix/images/footer_logo.png" alt="" width="170" height="49" /> </div>
            <div class="center_footer" style="width:300px">
                Mustafa Yıldırım &copy; @DateTime.Now.Year Tüm Haklari Saklidir<br />
                <a href="http://csscreme.com"><img src="~/Content/electronix/images/csscreme.jpg" alt="csscreme" border="0" /></a><br />
                <img src="~/Content/electronix/images/payment.gif" alt="" />
            </div>
            <div class="right_footer"> <a href="#">home</a> <a href="#">about</a> <a href="#">sitemap</a> <a href="#">rss</a> <a href="contact.html">contact us</a> </div>
        </div>
        <!-- end of main_container -->
    </div>
</body>
</html>
