@using ECommerce.Entity
@model IEnumerable<Product>



<div class="center_title_bar">PRODUCTS</div>
@foreach (var item in Model)
{
    <div class="prod_box">
        <div class="top_prod_box"></div>
        <div class="center_prod_box">
            <div class="product_title">
                <a href="details.html">@item.ProductName</a>
            </div>
            <div class="product_img">
                <a href="~/Home/Details/@item.ProductID">
                    @{
                        foreach (var img in item.Photos.ToList())
                        {
                            if (img.IsChecked == true)
                            {
                                <img src="~/Upload/@img.PhotoName" width="99" height="99" />
                            }

                        }
                    }

                </a>
            </div>
            <div class="prod_price">
                <span class="price">@item.Price ₺</span>
            </div>
        </div>
        <div class="bottom_prod_box"></div>
        <div class="prod_details_tab">
            <a href="~/Order/Add/@item.ProductID" title="header=[Add to cart] body=[&nbsp;] fade=[on]">
                <img src="~/Content/electronix/images/cart.gif" alt="" border="0" class="left_bt" />
            </a>        
            <a href="~/Home/Details/@item.ProductID" class="prod_details">details</a>
        </div>
    </div>

}

